<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Seznam nástrojů</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <h1 style="text-align:center;">Seznam nástrojů</h1>
    <form action="/get-list">
        <input type="text" name="query" id="query" value="{{ query}}">
        <button type="submit">hledat</button>
    </form>
    
    {% if data %}
        <table>
            <thead>
                <tr>
                    <th>Název</th>
                    <th>Odkaz</th>
                </tr>
            </thead>
            <tbody>
                {% for name, url in data %}
                    <tr>
                        <td>{{ name if name else "(bez názvu)" }}</td>
                        <td>
                            {% if url %}
                                <a href="{{ url }}" target="_blank">{{ url }}</a>
                            {% else %}
                                (žádný odkaz)
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p style="text-align:center;">Žádná data k zobrazení.</p>
    {% endif %}
</body>
</html>
